{% extends 'base.html' %}

{% block title %}Relatório de Despesas variaveis{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Relatório de Despesas Variaveis </h1>

    <!-- Tabela de Relatório -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor (RS)</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for despesa in despesas %}
                    <tr>
                        <td>{{ despesa.data|date:"d/m/Y" }}</td>
                        <td>{{ despesa.descricao }}</td>
                        <td>{{ despesa.valor|floatformat:2 }}</td>
                        <td>
                            {% if despesa.paga %}
                                <span class="badge bg-success">Pago</span>
                            {% else %}
                                <span class="badge bg-danger">Não Pago</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhuma despesa encontrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Total de Despesas Não Pagas -->
    <div class="alert alert-info mt-3">
        <strong>Total de Despesas Variaveis Não Pagas:</strong> R$ {{ total_despesas_variaveis|floatformat:2 }}
    </div>

    <!-- Total de Receitas -->
    <div class="alert alert-success mb-3">
        <strong>Total de Receitas:</strong> R$ {{ total_receitas|floatformat:2 }}
    </div>

    <!-- Total de Despesas Fixas Pagas -->
    <div class="alert alert-success mb-3">
        <strong>Total de Despesas Variaveis Pagas:</strong> R$ {{ total_despesas_pagas|floatformat:2 }}
    </div>

    <!-- Botões Alinhados à Direita -->
    <div class="d-flex justify-content-end">
        <a href="{% url 'despesas_variaveis' %}" class="btn btn-primary btn-sm me-2" style="margin-right: 10px;">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
        <button class="btn btn-secondary btn-sm" onclick="window.print()">
            <i class="fas fa-print"></i> Imprimir
        </button>
    </div>
</div>
{% endblock %}